#grid-container {
    display: grid;
    grid-template-columns: repeat(16, 0fr);
    grid-template-rows: repeat(16, 0fr);
    gap: 1px;
    justify-content: center;
  }
  
  .cell {
    background-color: grey;
    width: 30px;
    height: 30px;
    color: grey;
  }
  
 .btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
 }

.sliderContainer {
  display:flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

 .container {
  display: flex;
  flex-direction: column;
 }
